<app-menu checkedInput="properties"></app-menu>
<div class="row">
  <app-property-menu checkedInput="systemProperty"></app-property-menu>
  @if (strategyData!=null) {
  <div class="row">
    <label id="ratioStrategyLabel">{{"RATIO_STRATEGY"|translate}}</label>
    <label class="fw-bold">{{strategyData.ratioStrategy}}</label>
  </div>
  <div class="row">
    <label id="feeStrategyLabel">{{"FEE_STRATEGY"|translate}}</label>
    <label class="fw-bold">{{strategyData.feeStrategy}}</label>
  </div>
  @if (strategyData.feePercentage!= undefined&&strategyData.feePercentage!=""){
  <label id="feeStrategyLabel">{{"FEE_PERCENTAGE"|translate}}</label>
  <label class="fw-bold">{{strategyData.feePercentage}}</label>
  } } @else {
  <div class="row">
    <label id="ratioStrategyLabel">{{"RATIO_STRATEGY"|translate}}</label>
    <label>-</label>
  </div>
  <div class="row">
    <label id="feeStrategyLabel">{{"FEE_STRATEGY"|translate}}</label>
    <label>-</label>
  </div>
  }
</div>
