<form [formGroup]="formGroup">
  <div class="row">
    <label class="col-4">{{ "OPERATION" | translate }}</label>
    <div class="col-1">
      <select formControlName="operation">
        <option value=""></option>
        <option *ngFor="let operation of operations" [value]="operation">
          {{ operation }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <label class="col-4">{{ "CURRENCY" | translate }}</label>
    <div class="col-1">
      <select formControlName="currency">
        <option value=""></option>
        <option *ngFor="let currency of systemCurrencies" [value]="currency">
          {{ currency }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <label class="col-4">{{ "AMOUNT" | translate }}</label>
    <div class="col-1">
      <input
        formControlName="amount"
        type="number"
        id="amountInput"
        step="0.01"
        placeholder="0.00"
      />
    </div>
  </div>
  <div class="row">
    <button
      [disabled]="formGroup.invalid"
      (click)="sendRequest()"
      class="col col-2 btn btn-outline-primary me-2"
      id="back"
    >
      {{ "SEND" | translate }}
    </button>
  </div>
</form>
