<form [formGroup]="formGroup">
  <div class="row mb-2 mb-4">
    <div
      class="btn-group col-sm-2"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        id="btn-normal"
        autocomplete="off"
        formControlName="normalView"
        value="normal"
      />
      <label
        class="btn btn-outline-primary"
        for="btn-normal"
        (click)="changeView('normal')"
        >Normal</label
      >

      <input
        type="radio"
        class="btn-check"
        id="btn-cumulative"
        autocomplete="off"
        formControlName="normalView"
        value="cumulative"
      />
      <label
        class="btn btn-outline-primary"
        for="btn-cumulative"
        (click)="changeView('cumulative')"
        >Cumulative
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th>Price</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody *ngFor="let ask of orderBookData.data.ask">
          <tr *ngIf="ask != OrderBookData.EMPTY_DATA">
            <td>{{ ask.rate.toFixed(4) }}</td>
            <td class="text-end">{{ ask.amount.toFixed(2) }} EUR</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th>Price</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody *ngFor="let bid of orderBookData.data.bid">
          <tr *ngIf="bid != OrderBookData.EMPTY_DATA">
            <td>{{ bid.rate.toFixed(4) }}</td>
            <td class="text-end">{{ bid.amount.toFixed(2) }} EUR</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
