<form [formGroup]="formGroup">
  <!--  <div class="row">-->
  <!--    {{ kafkaMessages$ | async }}-->
  <!--  </div>-->
  <div class="row mb-2 mb-4">
    <div
      class="btn-group col-sm-2"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        id="btn-normal"
        autocomplete="off"
        formControlName="normalView"
        value="normal"
      />
      <label
        class="btn btn-outline-primary"
        for="btn-normal"
        (click)="changeView('normal')"
        >{{ "NORMAL" | translate }}</label
      >

      <input
        type="radio"
        class="btn-check"
        id="btn-cumulative"
        autocomplete="off"
        formControlName="normalView"
        value="cumulative"
      />
      <label
        class="btn btn-outline-primary"
        for="btn-cumulative"
        (click)="changeView('cumulative')"
        >{{ "CUMULATIVE" | translate }}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th>{{ "PRICE" | translate }}</th>
            <th>{{ "AMOUNT" | translate }}</th>
          </tr>
        </thead>
        <tbody *ngFor="let buy of orderBookData.data.b">
          <tr *ngIf="buy != OrderBookData.EMPTY_DATA">
            <td>{{ buy.r | ratio }}</td>
            <td class="text-end">{{ buy.a | amount }} EUR</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th>{{ "PRICE" | translate }}</th>
            <th>{{ "AMOUNT" | translate }}</th>
          </tr>
        </thead>
        <tbody *ngFor="let sell of orderBookData.data.s">
          <tr *ngIf="sell != OrderBookData.EMPTY_DATA">
            <td>{{ sell.r | ratio }}</td>
            <td class="text-end">{{ sell.a | amount }} EUR</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
