<div id="header">
  <div class="headerContent">
    <div>
      <h1 id="welcome">{{ "WELCOME" | translate }}</h1>
      <div class="card">
        <div class="loader">
          <p>Features</p>
          <div class="words">
            @for (feature of features; track feature) {
            <span class="word">{{ feature }}</span>
            }
          </div>
        </div>
      </div>
      <p>Your journey starts here.</p>
      <button (click)="navigateToLogin()">Login</button>
    </div>
  </div>
</div>
<lib-footer [buildInfo]="store.buildInfo()"></lib-footer>