spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/exchange?reWriteBatchedInserts=true
    username: exchange
    password: exchange
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
      # show_sql: true
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      topic: input-ticket
  security:
    oauth2:
      resourceserver:
        opaquetoken:
          client-secret: ${KEYCLOAK_CLIENT_SECRET:exchange-portal-secret}
          client-id: ${KEYCLOAK_CLIENT_ID:external-backend}
  web:
    error:
      include-message: always
listen:
  auto:
    start: true
logging:
  level:
    org:
      springframework: info
      hibernate:
        SQL: debug
        type: INFO
        orm:
          jdbc:
            bind: trace
    root: INFO
exchange-portal:
  allowed-origins: ${EXCHANGE_PORTAL_ALLOWED_ORIGINS:http://localhost:4200,http://localhost:4100,http://localhost:8080,http://localhost:8050}
  security:
    active: true
    keycloak:
      url: ${KEYCLOAK_URL:http://localhost:8050}