@import "primeicons/primeicons.css";


.landing-page {
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
  position: relative; /* Added for positioning */
}

header {
  margin-bottom: 30px;
  position: relative; /* Added for positioning */
}

.login-button {
  font-size: 16px;
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  padding: 1px 1px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #b30095; /* Darker shade on hover */
}

.features {
  margin: 20px 0;
}

footer {
  margin-top: 50px;
  font-size: 0.8em;
  position: relative;

}
