<app-menu></app-menu>
<form [formGroup]="formGroup" class="container">
  <div class="row">
    <label class="col-4">{{ "LANGUAGE" | translate }}</label>
    <div class="col-1">
      <select class="form-select" formControlName="language">
        <option value=""></option>
        <option *ngFor="let language of languages" [value]="language">
          {{ language }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <label class="col-4">{{ "TIMEZONE" | translate }}</label>
    <div class="col-1">
      <select class="form-select" formControlName="timezone">
        <option value=""></option>
        <option *ngFor="let timezone of timezones" [value]="timezone">
          {{ timezone }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <button
      [disabled]="formGroup.invalid"
      (click)="saveUserProperty()"
      class="col col-2 btn btn-outline-primary me-2"
      id="send"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</form>
