<form [formGroup]="formGroup">
  <div class="row">
    <label class="col-4">{{ "LOCALE" | translate }}</label>
    <div class="col-1">
      <select class="form-select" formControlName="locale">
        <option value=""></option>
        @for (locale of _locales$; track locale) {
          <option [value]="locale">
            {{ locale }}
          </option>
        }
      </select>
    </div>
  </div>
  <div class="row">
    <label class="col-4">{{ "TIMEZONE" | translate }}</label>
    <div class="col-1">
      <select class="form-select" formControlName="timezone">
        <option value=""></option>
        @for (timezone of _timezones$; track timezone) {
          <option [value]="timezone">
            {{ timezone }}
          </option>
        }
      </select>
    </div>
  </div>
  <div class="row">
    <label class="col-4">{{ "LANGUAGE" | translate }}</label>
    <div class="col-1">
      <select class="form-select" formControlName="language">
        <option value=""></option>
        @for (language of _languages$; track language) {
          <option [value]="language.id">
            {{ language.name }}
          </option>
        }
      </select>
    </div>
  </div>
  <div class="row">
    <button
      id="save"
      [disabled]="formGroup.invalid"
      (click)="saveUserProperty()"
      class="col col-2 btn btn-outline-primary me-2"
      id="save"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</form>
