@use '../../../colors';

.table {
  min-height: 100px !important;
  max-height: 100px !important;
}

.table, th, td {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  min-height: 180px !important;
  max-height: 180px !important;
  text-align: center;
}

.p-table, ng-template, th, td {
  font-size: 12px !important;
  font-family: 'Roboto', sans-serif;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.h4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.p-table, nth-column {

}
