<app-menu checkedInput="accounts"></app-menu>
<div class="row">
  <app-account-menu checkedInput="withdraw"></app-account-menu>
</div>
<div class="container">
  <div class="row mb-2">
    <form [formGroup]="formGroup">
      <div class="row">
        <label class="col-2" for="currency">{{ "USER_ACCOUNT" | translate }}</label>
        <div class="col-4" id="currency">
          <p-select [options]="accountBalances" formControlName="currency" optionLabel="currency"
                    optionValue="userAccountId">
            <ng-template #item let-selectedOption>
              <div>{{ selectedOption.amount | amount }} {{ selectedOption.currency }}</div>
            </ng-template>
          </p-select>
        </div>
      </div>
      <div class="row">
        <label class="col-2" for="amountInput">{{ "AMOUNT" | translate }}</label>
        <div class="col-4">
          <input
            (input)="changedAmount()"
            class="form-control mb-2"
            formControlName="amount"
            id="amountInput"
            min="0"
            pInputText
            placeholder="0.00"
            step="0.01"
            type="number"
          />
        </div>
      </div>
      <div class="row">
        <p-button
          (click)="withdrawCurrency()"
          [disabled]="formGroup.invalid"
          class="col col-2 btn btn-outline-primary me-2"
          id="send"
        >
          {{ "WITHDRAW" | translate }}
        </p-button>
      </div>
    </form>
  </div>
</div>
