<div>
  <div class="row">
    <div class="col-4">
      <h4 id="buyHeader">{{ "BUY"|translate }}</h4>
      <table class="table table-success table-striped">
        <thead>
        <tr>
          <th>{{ "PRICE" | translate }}</th>
          <th>{{ "AMOUNT" | translate }}</th>
        </tr>
        </thead>
        <tbody>
          @for (buy of orderBookData.sortedTableBuy; track buy.r) {
            @if (buy.a > 0) {
              <tr>
                <td>{{ buy.r | ratio }}</td>
                <td class="text-end">{{ buy.a | amount }} {{ buyCurrency }}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h4 id="sellHeader">{{ "SELL"|translate }}</h4>
      <table class="table table-success table-striped">
        <thead>
        <tr>
          <th>{{ "PRICE" | translate }}</th>
          <th>{{ "AMOUNT" | translate }}</th>
        </tr>
        </thead>
        <tbody>
          @for (sell of orderBookData.data.s; track sell.r) {
            @if (sell.a > 0) {
              <tr>
                <td>{{ sell.r | ratio }}</td>
                <td class="text-end">{{ sell.a | amount }} {{ buyCurrency }}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
