<form [formGroup]="formGroup">
  <div class="row mb-2 mb-4">
    <div
      class="btn-group col-sm-2"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        id="normal"
        checked
        autocomplete="off"
        formControlName="normalView"
        value="normal"
      />
      <label
        class="btn btn-outline-primary"
        for="normal"
        id="labelNormal"
        (click)="changeView('normal')"
      >
        {{ "NORMAL" | translate }}
      </label>

      <input
        type="radio"
        class="btn-check"
        id="cumulative"
        autocomplete="off"
        formControlName="normalView"
        value="cumulative"
      />
      <label
        class="btn btn-outline-primary"
        for="cumulative"
        (click)="changeView('cumulative')"
      >
        {{ "CUMULATIVE" | translate }}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h4>Buy</h4>
      <table class="table table-success table-striped">
        <thead>
        <tr>
          <th>{{ "PRICE" | translate }}</th>
          <th>{{ "AMOUNT" | translate }}</th>
        </tr>
        </thead>
        <tbody>
          @for (buy of orderBookData.sortedTableBuy; track buy.r) {
            @if (buy.a > 0) {
              <tr>
                <td>{{ buy.r | ratio }}</td>
                <td class="text-end">{{ buy.a | amount }} {{ buyCurrency }}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h4>Sell</h4>
      <table class="table table-success table-striped">
        <thead>
        <tr>
          <th>{{ "PRICE" | translate }}</th>
          <th>{{ "AMOUNT" | translate }}</th>
        </tr>
        </thead>
        <tbody>
          @for (sell of orderBookData.data.s; track sell.r) {
            @if (sell.a > 0) {
              <tr>
                <td>{{ sell.r | ratio }}</td>
                <td class="text-end">{{ sell.a | amount }} {{ buyCurrency }}</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</form>
