<form [formGroup]="formGroup">
  <div class="row mb-2 mb-4">
    <div
      class="btn-group col-sm-2"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        id="normal"
        autocomplete="off"
        formControlName="normalView"
        (click)="changeView('normal')"
        value="normal"
      />
      <label class="btn btn-outline-primary" for="normal" id="labelNormal">
        {{ "NORMAL" | translate }}
      </label>

      <input
        type="radio"
        class="btn-check"
        id="btn-cumulative"
        autocomplete="off"
        formControlName="normalView"
        value="cumulative"
        (click)="changeView('cumulative')"
      />
      <label class="btn btn-outline-primary" for="btn-cumulative">
        {{ "CUMULATIVE" | translate }}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <table class="table table-success table-striped">
        <thead>
        <tr>
          <th>{{ "PRICE" | translate }}</th>
          <th>{{ "AMOUNT" | translate }}</th>
        </tr>
        </thead>
        <tbody>
          @for (buy of orderBookData.data.b; track buy.r) {
            @if (buy != OrderBookData.EMPTY_DATA) {
              <tr>
                <td>{{ buy.r | ratio }}</td>
                <td class="text-end">{{ buy.a | amount }} EUR</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-success table-striped">
        <thead>
        <tr>
          <th>{{ "PRICE" | translate }}</th>
          <th>{{ "AMOUNT" | translate }}</th>
        </tr>
        </thead>
        <tbody>
          @for (sell of orderBookData.data.s; track sell.r) {
            @if (sell != OrderBookData.EMPTY_DATA) {
              <tr>
                <td>{{ sell.r | ratio }}</td>
                <td class="text-end">{{ sell.a | amount }} EUR</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</form>
