<app-menu checkedInput="rates"></app-menu>
<div class="row">
  <app-rate-menu checkedInput="rateList"></app-rate-menu>
  <div class="col py-3">
    <table class="table">
      <thead>
      <tr>
        <td>{{ "PAIR" | translate }}</td>
        <td>{{ "VALUE" | translate }}</td>
        <td>{{ "AMOUNT" | translate }}</td>
        <td>{{ "VALUE" | translate }}</td>
        <td id="amount_sell">{{ "AMOUNT" | translate }}</td>
      </tr>
      </thead>
      <tbody>
        @if (_currencyRates.length > 0) {
          @for (rate of _currencyRates; track rate.pair) {
            <tr>
              <td>{{ rate.pair }}</td>
              <td>{{ rate.buyRate|ratio }}</td>
              <td>{{ rate.buyAmount|amount }} {{ buyCurrency(rate.pair) }}</td>
              <td>{{ rate.sellRate|ratio }}</td>
              <td>{{ rate.sellAmount|amount }} {{ sellCurrency(rate.pair) }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>

