<app-menu checkedInput="tickets"></app-menu>
<div class="row">
  <app-ticket-menu checkedInput="ticketOrder"></app-ticket-menu>

  <form [formGroup]="formGroup">
    <div class="row mb-2">
      <div class="col col-4">
        <div class="row mb-2">
          <label for="pair" class="col" id="labelPair">
            {{ "PAIR" | translate }}
          </label>
          <div class="col" id="pair">
            <select
              class="form-select"
              formControlName="pair"
              (change)="setValueCurrencyLabel()"
            >
              @for (keyPair of getPairKeys(); track keyPair) {
                <option [value]="_pairs[keyPair]">
                  {{ _pairs[keyPair] }}
                </option>
              }
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label for="direction" class="col">{{
              "DIRECTION" | translate
            }}</label>
          <div class="col" id="direction">
            <select
              class="form-select"
              formControlName="direction"
              (change)="setValueCurrencyLabel()"
            >
              @for (keyDirection of getDirectionKeys(); track keyDirection) {
                <option [value]="_directions[keyDirection]">
                  {{ _directions[keyDirection] }}
                </option>
              }
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <label for="ratioInput" class="col align-content-center">{{
              "RATIO" | translate
            }}</label>
          <div class="col">
            <input
              formControlName="ratio"
              class="input form-control"
              type="number"
              id="ratioInput"
              (change)="onDecimalChange($event, 'ratio')"
              step="0.0001"
              placeholder="0.0000"
            />
          </div>
        </div>
        <div class="row mb-2 align-content-center">
          <label for="amountInput" class="col">{{ "AMOUNT" | translate }}</label>
          <div class="col">
            <input
              formControlName="amount"
              class="form-control"
              type="number"
              id="amountInput"
              (change)="onDecimalChange($event, 'amount')"
              step="0.01"
              placeholder="0.00"
            />
            <div class="col">{{ showCurrencyLabel() }}</div>
          </div>
        </div>

        <div class="row mb-2">
          <button
            [disabled]="formGroup.invalid"
            (click)="saveTicket()"
            class="col btn btn-outline-primary me-2"
            id="back"
          >
            {{ "SEND" | translate }}
          </button>
        </div>
      </div>

      <div class="col col-8">
        <app-order-book-table
          [pair]="formGroup.get('pair')?.value"
          [buyCurrency]="PairUtils.getBaseCurrency(formGroup.get('pair')?.value)"
        ></app-order-book-table>
      </div>
      <div class="col col-8">
        <app-order-book-chart
          [pair]="formGroup.get('pair')?.value"
          [buyCurrency]="PairUtils.getBaseCurrency(formGroup.get('pair')?.value)"
        >
        </app-order-book-chart>
      </div>
    </div>
  </form>
</div>
