<app-menu checkedInput="properties"></app-menu>
<app-property-menu checkedInput="systemProperty"></app-property-menu>
<table>
  @if (store.strategyData() != null) {
    <tr>
      <td>
        <label id="ratioStrategyLabel">{{ "RATIO_STRATEGY"|translate }}</label>
      </td>
      <td>
        <label class="boldText">{{ store.strategyData().ratioStrategy }}</label>
      </td>
    </tr>
    <tr>
      <td>
        <label id="feeStrategyLabel">{{ "FEE_STRATEGY"|translate }}</label>
      </td>
      <td>
        <label class="boldText">{{ store.strategyData().feeStrategy }}</label>
      </td>
    </tr>
    @if (store.strategyData().feePercentage != undefined && store.strategyData().feePercentage
    != "") {
      <tr>
        <td>
          <label id="feeStrategyLabel">{{ "FEE_PERCENTAGE"|translate }}</label>
        </td>
        <td>
          <label class="boldText">{{ store.strategyData().feePercentage }}</label>
        </td>
      </tr>
    }
  } @else {
    <tr>
      <td>
        <label id="ratioStrategyLabel">{{ "RATIO_STRATEGY"|translate }}</label>
      </td>
      <td>
        <label>-</label>
    </tr>
    <tr>
      <td>
        <label id="feeStrategyLabel">{{ "FEE_STRATEGY"|translate }}</label>
      </td>
      <td>
        <label>-</label>
      </td>
    </tr>
  }
</table>
