<app-menu checkedInput="properties"></app-menu>
<app-property-menu checkedInput="systemProperty"></app-property-menu>
<table>
  @if (store.strategyData() != null) {
    <tr>
      <td>
        <span id="ratioStrategyLabel">{{ "RATIO_STRATEGY"|translate }}</span>
      </td>
      <td>
        <span class="boldText">{{ store.strategyData().ratioStrategy }}</span>
      </td>
    </tr>
    <tr>
      <td>
        <span id="feeStrategyLabel">{{ "FEE_STRATEGY"|translate }}</span>
      </td>
      <td>
        <span class="boldText">{{ store.strategyData().feeStrategy }}</span>
      </td>
    </tr>
    @if (store.strategyData().feePercentage != undefined && store.strategyData().feePercentage
    != "") {
      <tr>
        <td>
          <span id="feePercentageEmpty">{{ "FEE_PERCENTAGE"|translate }}</span>
        </td>
        <td>
          <span class="boldText">{{ store.strategyData().feePercentage }}</span>
        </td>
      </tr>
    }
  } @else {
    <tr>
      <td>
        <span id="ratioStrategyEmpty">{{ "RATIO_STRATEGY"|translate }}</span>
      </td>
      <td>
        <span>-</span>
    </tr>
    <tr>
      <td>
        <span id="feeStrategyEmpty">{{ "FEE_STRATEGY"|translate }}</span>
      </td>
      <td>
        <span>-</span>
      </td>
    </tr>
  }
</table>
