<app-menu checkedInput="accounts"></app-menu>
<div class="row">
  <app-account-menu checkedInput="accountDeposit"></app-account-menu>
</div>
<div class="container">
  <form [formGroup]="formGroup">
    <div class="row mb-2">
      <app-user-account
        (userAccountEvent)="setUserAccount($event)"
      ></app-user-account>
    </div>
    <div class="row">
      <label class="col-4" for="operation">{{ "OPERATION" | translate }}</label>
      <div class="col-4">
        <p-select
          (onChange)="changeOperation($event)"
          [options]="operations"
          class="form-select mb-2"
          formControlName="operation"
          id="operation"
        >
          <ng-template #item let-operation>
            <div>{{ operation }}</div>
          </ng-template>
        </p-select>
      </div>
    </div>
    @if (formGroup.get("maxAmount")?.value > 0) {
      <div class="row">
        <label class="col-4"></label>
        <div class="col-4">
          Max amount : {{ formGroup.get("maxAmount")?.value | amount }}
          {{ formGroup.get("currency")?.value }}
        </div>
      </div>
    }
    <div class="row">
      <label class="col-4" for="amountInput">{{ "AMOUNT" | translate }}</label>
      <div class="col-4">
        <p-inputNumber
          [showButtons]="true"
          [step]="0.01"
          class="form-control mb-2"
          formControlName="amount"
          id="amountInput"
          placeholder="0.00"
          type="number"
        />
      </div>
    </div>
    <div class="row">
      <p-button
        (onClick)="sendRequest()"
        [disabled]="formGroup.invalid"
        class="col col-2 btn btn-outline-primary me-2"
        id="sendRequest"
      >
        {{ "SEND" | translate }}
      </p-button>
    </div>
  </form>
</div>
