<app-menu checkedInput="accounts"></app-menu>
<div class="row">
  <app-account-menu checkedInput="accountDeposit"></app-account-menu>
</div>
<form [formGroup]="formGroup">
  <app-user-account (userAccountEvent)="setUserAccount($event)"></app-user-account>
  <table [style.min-width.pc]="90">
    <tr>
      <td>
        <label for="operation">{{ "OPERATION" | translate }}</label>
      </td>
      <td>
        <p-select
          (onChange)="changeOperation($event)"
          [options]="operations"
          formControlName="operation"
          id="operation"
        >
          <ng-template #item let-operation>
            <div>{{ operation }}</div>
          </ng-template>
        </p-select>
      </td>
    </tr>
    @if (formGroup.get("maxAmount")?.value > 0) {
      <tr>
        <td>
          <label></label>
        </td>
        <td>
          Max amount : {{ formGroup.get("maxAmount")?.value | amount }}
          {{ formGroup.get("currency")?.value }}
        </td>
      </tr>
    }
    <tr>
      <td>
        <label for="amountInput">{{ "AMOUNT" | translate }}</label>
      </td>
      <td>
        <p-inputNumber
          [showButtons]="true"
          [step]="0.01"
          formControlName="amount"
          id="amountInput"
          placeholder="0.00"
          type="number"
        />
      </td>
    </tr>
    <tr>
      <p-button
        (onClick)="sendRequest()"
        [disabled]="formGroup.invalid"
        id="sendRequest"
      >
        {{ "SEND" | translate }}
      </p-button>
    </tr>
  </table>
</form>
