<app-menu checkedInput="tickets"></app-menu>
<div class="row">
  <app-ticket-menu checkedInput="realizedList"></app-ticket-menu>
</div>
<div class="container">
  <div class="container-fluid">
    <div class="col py-3">
      <table class="table">
        <thead>
        <tr>
          <td>{{ "DATE" | translate }}</td>
          <td>{{ "RATIO" | translate }}</td>
          <td>{{ "PAIR" | translate }}</td>
          <td>{{ "DIRECTION" | translate }}</td>
          <td>{{ "STATUS" | translate }}</td>
          <td id="amount">{{ "AMOUNT" | translate }}</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
          @for (ticket of _tickets$; track ticket.id) {
            <tr>
              <td>{{ getDate(ticket.epochUtc) }}</td>
              <td>{{ ticket.ratio | ratio }}</td>
              <td>{{ ticket.pair }}</td>
              <td>{{ ticket.direction }}</td>
              <td>{{ ticket.ticketStatus }}</td>
              <td>{{ ticket.amount | amount }} {{ getCurrency(ticket) }}</td>
              <td>
                <p-button
                  (click)="getExchangePdfDocument(ticket.id)"
                  class="btn btn-outline-primary"
                  type="button"
                >
                  {{ "DOWNLOAD" | translate }}
                </p-button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
