<app-menu checkedInput="tickets"></app-menu>
<div class="row">
  <app-ticket-menu checkedInput="realizedList"></app-ticket-menu>
</div>
<div class="container">
  <div class="container-fluid">
    <div class="col py-3">
      <p-table [value]="_tickets$">
        <ng-template #header>
          <tr>
            <th>{{ "DATE" | translate }}</th>
            <th>{{ "RATIO" | translate }}</th>
            <th>{{ "PAIR" | translate }}</th>
            <th>{{ "DIRECTION" | translate }}</th>
            <th>{{ "STATUS" | translate }}</th>
            <th id="amount">{{ "AMOUNT" | translate }}</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-ticket>
          <tr>
            <td>{{ getDate(ticket.epochUtc) }}</td>
            <td>{{ ticket.ratio | ratio }}</td>
            <td>{{ ticket.pair }}</td>
            <td>{{ ticket.direction }}</td>
            <td>{{ ticket.ticketStatus }}</td>
            <td>{{ ticket.amount | amount }} {{ getCurrency(ticket) }}</td>
            <td>
              <p-button
                (click)="getExchangePdfDocument(ticket.id)"
                class="btn btn-outline-primary"
                type="button"
              >
                {{ "DOWNLOAD" | translate }}
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
