<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="dashboard">
    {{ "APPLICATION_NAME" | translate }}
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="accountsDropdown"
        >
          {{ "MENU.ACCOUNTS.NAME" | translate }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountsDropdown">
          <a class="dropdown-item" id="account-list" href="account-list">
            {{ "MENU.ACCOUNTS.ACCOUNT_LIST" | translate }}
          </a>
          <a class="dropdown-item" id="add-account" href="account-edit">
            {{ "MENU.ACCOUNTS.ADD_ACCOUNT" | translate }}
          </a>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="reportsDropdown"
        >
          {{ "MENU.REPORTS.NAME" | translate }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="reportsDropdown">
          <a class="dropdown-item" href="expired-products">
            {{ "MENU.REPORTS.FINANCIAL" | translate }}
          </a>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="propertyDropdown"
        >
          {{ "MENU.PROPERTY.NAME" | translate }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="propertyDropdown">
          <a class="dropdown-item" id="user-property" href="user-property">
            {{ "MENU.PROPERTY.USER_PROPERTY" | translate }}
          </a>
          <a class="dropdown-item" (click)="logout()">
            {{ "LOGOUT" | translate }}
          </a>
          <a class="dropdown-item" (click)="login()">
            {{ "LOGIN" | translate }}
          </a>
        </ul>
      </div>
    </ul>
  </div>
</nav>
