<form [formGroup]="formGroup">
  <div>

    <h4 id="chartHeader">{{ "ORDER_BOOK"|translate }}</h4>
    <p-selectbutton (onChange)="changeChartView($event)" [options]="stateOptions"
                    aria-labelledby="basic"
                    formControlName="normalView"
                    optionLabel="label"
                    optionValue="value"
                    size="small">
    </p-selectbutton>
  </div>

  <div echarts id="chart" style="min-width: 800px; min-height: 800px"></div>
</form>
