<label aria-label="Basic radio toggle button group"
       class="btn-group-lg border border-white rounded-0" role="group">
  <input autocomplete="off" checked class="btn-check border-primary rounded-0"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="home" id="home"
         routerLink="/dashboard">{{ 'HOME' | translate }}</label>
  <input autocomplete="off" class="btn-check border-primary rounded-0" id="accounts"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="accounts" id="accountsLabel"
         routerLink="/accounts">{{ 'MENU.ACCOUNTS.NAME' | translate }}</label>
  <input autocomplete="off" class="btn-check border-primary rounded-0" id="transactions"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="transactions"
         routerLink="/transactions">{{ 'MENU.TRANSACTIONS.NAME' | translate }}</label>

  <input autocomplete="off" class="btn-check border-primary rounded-0" id="reports" name="menuRadio"
         type="radio">
  <label class="btn btn-light rounded-0" for="reports"
         routerLink="/reports"> {{ 'MENU.REPORTS.NAME' | translate }}</label>

  <input autocomplete="off" class="btn-check border-primary rounded-0" id="messages"
         name="menuRadio"
         type="radio">
  <label class="btn btn-light rounded-0" for="messages"
         routerLink="/messages"> {{ 'MENU.MESSAGES.NAME' | translate }}</label>

  <input autocomplete="off" class="btn-check border-primary rounded-0" id="statistics"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="statistics"
         routerLink="/statistics"> {{ 'MENU.STATISTICS.NAME' | translate }}</label>

  <input autocomplete="off" class="btn-check border-primary rounded-0" id="properties"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="properties"
         routerLink="/properties"> {{ 'MENU.PROPERTIES.NAME' | translate }}
  </label>

  <input autocomplete="off" class="btn-check border-primary rounded-0" id="monitoring"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="monitoring"
         routerLink="/monitoring"> {{ 'MENU.MONITORING.NAME' | translate }}
  </label>


  @if (authenticated) {
    <button
      class="btn btn-outline-dark position-absolute end-0 me-2 mt-2"
      (click)="logout()">
      {{ "LOGOUT" | translate }}
    </button>
  } @else {
    <button
      class="btn btn-outline-dark position-absolute end-0 me-2 mt-2"
      (click)="login()">
      {{ "LOGIN" | translate }}
    </button>
  }
</label>
