<app-menu checkedInput="accounts"></app-menu>
<div>
  <app-account-menu checkedInput="addAccount"></app-account-menu>
</div>
<form [formGroup]="formGroup">
  <table>
    <tr>
      <td>
        <label for="currency">{{ "CURRENCY" | translate }}</label>
      </td>
      <td id="currency">
        <p-select [options]="systemCurrencies" formControlName="currency">
        </p-select>
      </td>
    </tr>
    <tr>
      <p-button
        (onClick)="createCurrencyAccount()"
        [disabled]="formGroup.invalid"
        id="send"
      >
        {{ "SEND" | translate }}
      </p-button>
    </tr>
  </table>
</form>
