<div aria-label="Basic radio toggle button group"
     class="btn-group-lg border border-white rounded-0" role="group">
  <input autocomplete="off" checked class="btn-check border-primary rounded-0"
         id="home" name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="home"
         routerLink="/">{{ 'HOME' | translate }}</label>
  <input autocomplete="off" class="btn-check border-primary rounded-0" id="accounts"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="accounts"
         routerLink="/accounts">{{ 'MENU.ACCOUNTS.NAME' | translate }}</label>
  <input autocomplete="off" class="btn-check border-primary rounded-0" id="tickets"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="transactions"
         routerLink="/transactions">{{ 'MENU.TRANSACTIONS.NAME' | translate }}</label>

  <input autocomplete="off" class="btn-check border-primary rounded-0" id="reports" name="menuRadio"
         type="radio">
  <label class="btn btn-light rounded-0" for="reports"
         routerLink="/reports"> {{ 'MENU.REPORTS.NAME' | translate }}</label>

  <input autocomplete="off" class="btn-check border-primary rounded-0" id="statistics"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="statistics"
         routerLink="/statistics"> {{ 'MENU.STATISTICS.NAME' | translate }}</label>

  <input autocomplete="off" class="btn-check border-primary rounded-0" id="properties"
         name="menuRadio" type="radio">
  <label class="btn btn-light rounded-0" for="properties"
         routerLink="/properties"> {{ 'MENU.PROPERTIES.NAME' | translate }}</label>
  <app-version></app-version>
</div>


<h1>{{ title }}</h1>
<router-outlet></router-outlet>



