<app-menu checkedInput="properties"></app-menu>
<div>
  <app-property-menu checkedInput="userProperty"></app-property-menu>
</div>
<form [formGroup]="formGroup">
  <table>
    <tr>
      <td>
        <span>{{ "LOCALE" | translate }}</span>
      </td>
      <td>
        <p-select [options]="store.locales()" formControlName="locale">
        </p-select>
      </td>
    </tr>
    <tr>
      <td>
        <span>{{ "TIMEZONE" | translate }}</span>
      </td>
      <td>
        <p-select [options]="store.timezones()" formControlName="timezone">
        </p-select>
      </td>
    </tr>
    <tr>
      <td>
        <span>{{ "LANGUAGE" | translate }}</span>
      </td>
      <td>
        <p-select [options]="_languages$" formControlName="language" optionLabel="name">
          <ng-template #item let-language>
            <div>{{ language.name }}</div>
          </ng-template>
        </p-select>
      </td>
    </tr>
    <tr>
      <p-button
        (onClick)="saveUserProperty()"
        [disabled]="formGroup.invalid"
        id="save"
      >
        {{ "SAVE" | translate }}
      </p-button>
    </tr>
  </table>
</form>
