<app-menu checkedInput="properties"></app-menu>
<div>
  <app-property-menu checkedInput="userProperty"></app-property-menu>
</div>
<form [formGroup]="formGroup">
  <table>
    <tr>
      <td>
        <label>{{ "LOCALE" | translate }}</label>
      </td>
      <td>
        <p-select [options]="_locales$" formControlName="locale">
        </p-select>
      </td>
    </tr>
    <tr>
      <td>
        <label>{{ "TIMEZONE" | translate }}</label>
      </td>
      <td>
        <p-select [options]="_timezones$" formControlName="timezone">
        </p-select>
      </td>
    </tr>
    <tr>
      <td>
        <label>{{ "LANGUAGE" | translate }}</label>
      </td>
      <td>
        <p-select [options]="_languages$" formControlName="language" optionLabel="name">
        </p-select>
      </td>
    </tr>
    <tr>
      <p-button
        (click)="saveUserProperty()"
        [disabled]="formGroup.invalid"
        id="save"
      >
        {{ "SAVE" | translate }}
      </p-button>
    </tr>
  </table>
</form>
