spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/exchange?reWriteBatchedInserts=true
    username: exchange
    password: exchange
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
      # show_sql: true
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      topic: input-ticket
  security:
    oauth2:
      resourceserver:
        opaquetoken:
          client-secret: ${KEYCLOAK_CLIENT_SECRET:exchange-portal-secret}
          client-id: ${KEYCLOAK_CLIENT_ID:external-backend}
logging:
  level:
    org:
      springframework: INFO
server:
  error:
    include-message: always
exchange-portal:
  allowed-origins: ${EXCHANGE_PORTAL_ALLOWED_ORIGINS:http://localhost:4100,http://localhost:8090,http://localhost:8081}
  security:
    active: true
    keycloak:
      url: ${KEYCLOAK_URL:http://localhost:8081}