<app-menu checkedInput="accounts"></app-menu>
<div class="row">
  <app-account-menu checkedInput="accountDeposit"></app-account-menu>
  <form [formGroup]="formGroup">
    <div class="row mb-2">
      <app-user-account
        (userAccountEvent)="setUserAccount($event)"
      ></app-user-account>
    </div>
    <div class="row">
      <label class="col-4" for="operation">{{ "OPERATION" | translate }}</label>
      <div class="col-4">
        <select
          (change)="changeOperation($event)"
          class="form-select mb-2"
          formControlName="operation"
          id="operation"
        >
          <option value=""></option>
          @for (operation of operations; track operation) {
            <option [value]="operation">
              {{ operation }}
            </option>
          }
        </select>
      </div>
    </div>
    @if (formGroup.get("maxAmount")?.value > 0) {
      <div class="row">
        <label class="col-4"></label>
        <div class="col-4">
          Max amount : {{ formGroup.get("maxAmount")?.value | amount }}
          {{ formGroup.get("currency")?.value }}
        </div>
      </div>
    }
    <div class="row">
      <label class="col-4" for="amountInput">{{ "AMOUNT" | translate }}</label>
      <div class="col-4">
        <input
          class="form-control mb-2"
          formControlName="amount"
          id="amountInput"
          placeholder="0.00"
          step="0.01"
          type="number"
        />
      </div>
    </div>
    <div class="row">
      <button
        (click)="sendRequest()"
        [disabled]="formGroup.invalid"
        class="col col-2 btn btn-outline-primary me-2"
        id="sendRequest"
      >
        {{ "SEND" | translate }}
      </button>
    </div>
  </form>
</div>
