<div class="row">
  <app-account-menu checkedInput="accountList"></app-account-menu>
  <div class="container-fluid">
    <div class="col py-3">
      <table class="table">
        <thead>
          <tr>
            <td id="currency">{{ "CURRENCY" | translate }}</td>
            <td>{{ "AMOUNT" | translate }}</td>
          </tr>
        </thead>
        <tbody>
          @for (account of _account$; track account.userAccountId) {
            <tr>
              <td>{{ account.currency }}</td>
              <td class="text-end">{{ account.amount | amount }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
