<form [formGroup]="formGroup">
  <p-card>
    <label for="user" id="userLabel">{{ "USER" | translate }}
    </label>
    <p-select
      (onChange)="loadAccountList()"
      [options]="_users"
      formControlName="userId"
      id="user"
      optionLabel="email"
      optionValue="userId"
    >
      <ng-template #item let-user>
        {{ user.email }}
      </ng-template>
    </p-select>


    <label for="userAccount"
           id="userAccountLabel">{{ "ACCOUNTS" | translate }}</label>
    <p-select
      (onChange)="emitUserAccount()"
      [options]="_accounts"
      formControlName="userAccountId"
      id="userAccount"
      optionLabel="currency"
      optionValue="id"
    >
      <ng-template #items let-account>
        <div>{{ account.currency }}</div>
      </ng-template>
    </p-select>
  </p-card>
</form>
