<form [formGroup]="formGroup">
  <div class="row">
    <div class="col-2">
      <label for="user" id="userLabel"
      >{{ "USER" | translate }}</label
      >
    </div>
    <div class="col-2">
      <p-select
        (onChange)="loadAccountList()"
        [options]="_users"
        class="form-select"
        formControlName="userId"
        id="user"
        optionLabel="email"
        optionValue="userId"
      >
        <ng-template #item let-user>
          {{ user.email }}
        </ng-template>
      </p-select>
    </div>
    <div class="col-2">
      <label for="userAccount" id="userAccountLabel"
      >{{ "ACCOUNTS" | translate }}</label
      >
    </div>
    <div class="col-2">
      <p-select
        (onChange)="emitUserAccount()"
        [options]="_accounts"
        class="form-select"
        formControlName="userAccountId"
        id="userAccount"
        optionLabel="currency"
        optionValue="id"
      >
        <ng-template #items let-account>
          <div>{{ account.currency }}</div>
        </ng-template>
      </p-select>
    </div>
  </div>
</form>
